# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/
*.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Images/screenshots
*.png

# Other
*.sqlite3
*.db